@charset "UTF-8";
body {
  background-color: #f4f2f8; }

.navBg {
  background-color: #fbe4eb; }

.nav-item:hover {
  background-color: #ccbddf; }

.navbar-dark .navbar-nav .nav-link {
  color: #af8849; }

.dorado {
  color: #af8849;
  font-weight: bold; }

p {
  color: #4c4286; }

.paddingTB {
  padding: 50px 0px 50px 0px; }

.noPadding {
  padding: 0px 0px 0px 0px; }

.paddingTBdiezpx {
  padding: 10px 0px 10px 0px; }

.paddingRL {
  padding: 0px 10px 0px 10px; }

.nav-link {
  padding: 21px 0px 20px 0px; }

.containerPadding {
  padding-bottom: 50px; }

.paddingRLform {
  padding: 0px 148px 0px 148px; }

.paddingB {
  padding-bottom: 50px; }

.imagenesLogo {
  margin: 50px 0px 50px 0px; }

.marginLeft {
  margin-left: 20px; }

.marginLeftPestañas {
  margin-left: 64px; }

.marginB {
  margin: 0px 0px 40px 0px; }

@media only screen and (min-width: 1024px) {
  .marginxlLeft {
    margin-left: 30px; }
  .marginxlRight {
    margin-right: 30px; }
  .paddingxlB {
    padding: 0px 0px 50px 0px; } }

@media only screen and (max-width: 768px) {
  .marginsmB {
    margin-bottom: 40px; } }

.transform:hover {
  transform: scale(111%, 111%);
  transition-duration: 2s;
  transition-delay: ease; }
