@media only screen and (min-width: 1024px) {
    .marginxlLeft {
        margin-left: 30px;
    }
    .marginxlRight {
        margin-right: 30px;
    }
    .paddingxlB{
        padding: 0px 0px 50px 0px;
    }
}

@media only screen and (max-width: 768px) {
    .marginsmB {
        margin-bottom: 40px;
    }
}
